
#scannerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;    /* Centers horizontally */
    justify-content: center; /* Centers vertically */
}


#reader{
    width: 500px;
    height: 500px;
}

.AddButton {
    background: white;
    height: 5rem;
    width: 12rem;
    border: none;
    margin-top: 2rem;
    border-radius: 70px;
    cursor: pointer;
}
