* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29414f;
    color: white;
    height: 9rem;
    padding: 10px 20px;
  }
  
  .catImg{
    width: 5.2rem;
  }
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 0.45rem;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .nav-links a:hover {
    color: #61dafb;
  }
